body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: purple;
    position: relative;

}
header{
    width: 100%;
    height: 35px;
    background:#233d58;
    position: relative;
}
header h1{
    display: none;
}

header nav .ioMenumovil{
    height: 25px;
    width: 120px;
    cursor: pointer;
    line-height: 40px;
    margin: 0px 0px 0px 10px;
    padding-top: 5px;
}
header nav .ioMenumovil img{
    height: 100%;
    width: 5%;
}

header nav #card-menu{
    
    position: relative;
    width: 250px;
   
    background:white;
    top: -60px;
    left: 0px;
    border-right: 3px solid #645609;
    z-index: 999;
    padding-bottom: 50px;
}
header nav #card-menu #logo-menu{
    height: 250px;
    width: 80%;
    margin: 30px 0px;
    margin-left: 10%;
    margin-bottom: 50px;
}

header nav #card-menu #logo-menu img{
    width: 100%;
}
header nav #card-menu  ul{
    margin-top: -20px;
  
}
header nav #card-menu  ul li{
    list-style: none;
    font-size: 1.5em;
    line-height: 37px;
}
header nav #card-menu  ul li a{
    text-decoration: none;
    color: black;
}
 
header #prev_section,
header #next_section {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    top: 0px;
}
header #prev_section{
    right: 35px;
}
header #next_section{
    right: 5px;
}
header #prev_section img,
header #next_section img {
    width: 25px;
    top: -19;
    left: -19;
    position: relative;
}
header #next_section img{
    transform: rotate(180deg);
}

@media screen and (min-width:480px){
    body{
        background: red;
    }
   
}
    
@media screen and (min-width:600px) {
    body{
        background: orange;
    }

}
@media screen and (min-width:767px) {
    body{
        background: yellow;
    }
    header{
        height: 50px;
    }
    /*ojo cambien en header h1 el display
    :inline-blok por display:inline para que se alinie en el div*/
    header h1{
        display: inline;
        width: 20%;
        
        margin: 0px;
        height: 50px;
        margin-left: 250px;
        line-height: 50px;
        min-width: 200px;
    }
    header h1 > *{
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        color: white;
        font-size: 0.8em;
        margin: 0px 3px ;
    }
    header h1 picture{
        height: 50px;
        width: 40px;
        margin: 0px;
        filter: invert(1);
    }
    
    header h1 picture img{
        width: 100%;
    }
    header nav{
        display: inline-block;
        vertical-align: middle;
        width: 62%;
        position: relative;
        background: red;
       
    }
    header nav #showMenu,
    header nav #hidMenu{
        display: none;
    }

    header nav #card-menu{
        display: inline-block;
        border: none;
        background: none;
        position: relative;
        top: 0px;
        width: 100%;
        background: rgb(0, 128, 126);
        text-align: right;
        padding-bottom: 0px;

    }

    header nav #card-menu picture{
        display: none;
    }
    header nav #card-menu ul{
        padding: 0px;
        margin: 0px;
        margin-top: -15px;
    }
    header nav #card-menu ul li{
        display: inline-block;
        width: 75px;
        background: blue;
        text-align: center;
        font-size: 1.2em;
        margin: 0px;
    }
    header #prev_section,
    header #next_section{
        position: absolute;
        width: 50px;
        height: 50px;
        background: #29abc2;
        right: 40px;
        z-index: 999;
        border-radius: 50%;
    }
    header #prev_section{
        top: 115px;
    }
    header #next_section{
        top: 190px;
    }
    header #prev_section img,
    header #next_section img{
        width: 100%;
        top: 0px;
        left: 0px;
    }

}
@media screen and (min-width:950px) {
    body{
        background: green;
    }

}

/*
header{
    width: 100%;
    height: 35px;
    background: #233058;
    position: relative;
}
header h1{
    display: none;

}
header nav{
    display: none;
}
header #prev_section,
header #next_section{
    width: 25px;
    height: 25px;
    background: red;
    cursor: pointer;
    margin: 5px;
    
    position: absolute;
    top: 0px;
}
header #prev_section{
    right: 30px;
}
header #next_section{
    right: 5px;
}
header #prev_section img,
header #next_section img {
    width: 105px;
    top: -10px;
    left: -10px;
    position: relative;  
}
header #next_section {
   transform: rotate(180deg); 
}

.img-svg {
    width: 100px;
    height: 100px;
    position: relative;
}
.imgbox img{
    border-radius: 10%;
    width: 150px;
    height: 50px;
    margin: 100px;
    

}*/
/*@media screen and (min-width:480px){
    body{
        background:green ;
    }
}

@media screen and (min-width: 600px){
    body{
        background:orange;
    }
   
}
@media screen and (min-width:767px){
    body{
        background:yellow;
    }*/
    /*header #prev_section,
    header #next_section {
        position: absolute;
        width: 50px;
        height: 50px;
        background: #29abe2;
        right: 40px;
        z-index: 999;
        border-radius: 50%;
    }*/
    /*header #prev_section {
        top: 115px;
    }
    /*header #next_section{
        top: 100px;
    } 
    /*header #prev_section,
    header #next_section{
        width: 100%;
        top: 0px;
        left: 0px;
    }
}
*/